body {
  font-family: sans-serif;
  background-color: #1a9e00;
  background-color: #005e75;
  background-image: url("https://itmeo.com/public/webgradients_png/003%20Spring%20Warmth.png");
  background-size: 600px 1000px
}


img{
  max-width:100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ul{
  list-style: none;
}
