body {
  font-family: sans-serif;
  background-color: #1a9e00;
  background-color: #005e75;
  background-image: url("https://itmeo.com/public/webgradients_png/003%20Spring%20Warmth.png");
  background-size: 400px 1000px
}


img{
  max-width:100%;
}

header{
  font-family: 'Bodoni MT', Didot, 'didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 40px;
}

.tag-line{
  color: gray;
  font-size: 27px;
  font-family:futura;
  text-align: center;
}

h1 {
  text-align: center;
  color:orchid;

}

h2{
  color:plum;
  font-family: futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px
}

p {
  text-align: left;
  font-family:;
}

ul{
  list-style: none;
}
