body {
  font-family: sans-serif;
  background-color: #1a9e00;
  background-color: #005e75;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

  background-size: 400px 300px;
  border: 4px solid white;

}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ul{
  list-style: none;
}
