body {
  font-family: sans-serif;
  background-color: #1a9e00;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-size: cover;
}

h1 {
  text-align: center;
  color:orchid;
  font-family: 'Space-Mono';
  font-size: 40px;

.tag-line{
  color: gray;
  font-size: 27px;
  font-family:futura;
  text-align: center;
}
